<form [formGroup]="form" (ngSubmit)="submitHandler()" >
  <div [className]="'submit-post-container'">
    <mat-form-field>
      <input type="text" matInput formControlName="title" placeholder="Title">
      <mat-error *ngIf="title.invalid && title.touched">Title is not valid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea outlined rows="4" matInput formControlName="description" placeholder="Description">sss</textarea>
      <mat-error *ngIf="description.invalid && description.touched">Password is not valid</mat-error>
    </mat-form-field>
    <div *ngIf="failed" [className]="'alert-danger'">
      {{errorMessage ? errorMessage :"Unexpected error"}}
    </div>

    <div [className]="'button-container'">
      <button   mat-raised-button type="submit" [disabled]="!form.valid">
        <span *ngIf="!loading">Submit Post</span>
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
      </button>
    </div>

  </div>

</form>


