<div [className]="'container'">
  <div *ngIf="!isLoggedIn()">
    <a routerLink="/register"> Register</a>
    <br/>
    <br/>
    <a routerLink="/login">Login</a>
    <br/>
    <br/>
  </div>

  <app-submit-post *ngIf="isLoggedIn()"></app-submit-post>
    <mat-button-toggle-group value="all" name="getPosts" >
      <mat-button-toggle (click)="getPosts()" value="all">All posts</mat-button-toggle>
      <mat-button-toggle *ngIf="isLoggedIn()" (click)="getPostsByUserId()" value="mine">My posts</mat-button-toggle>
    </mat-button-toggle-group>
  <app-posts-list></app-posts-list>
</div>
