.post-container {
  width: 100%;
  margin: 2% 0;
  border-radius: 5px;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  text-overflow: ellipsis;
  position: relative;

}
.post-container * {
  margin: 0;
  padding-left: 2%;
  word-break: break-word;
}
.post-container h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-container h4{
  padding: 0;
}

.post-container span {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 1%;
  color: red;
  background: transparent;
  font-weight: bolder;
  right: 0;
  cursor: pointer;
}
